
# This token expires after 24 hours. You can get a new one from the your Meta App Dashboard > API Setup
# Or you can create an access token at the System User level from the Meta Business Settings: https://business.facebook.com/settings/system-users

ACCESS_TOKEN=

APP_ID= # Your Meta App ID
APP_SECRET= # Your Meta App Secret
RECIPIENT_WAID= # Your WhatsApp number with country code (e.g., +31612345678)
VERSION="v21.0"
PHONE_NUMBER_ID= # Your Meta Phone Number ID

VERIFY_TOKEN= # Your Verify Token

OPENAI_API_KEY= # Your OpenAI API Key
OPENAI_ASSISTANT_ID= # Your OpenAI Assistant ID
BQ_SERVICE_ACCOUNT_KEY_PATH= # Path to your BigQuery service account key file
